
.slds-m-around_medium{
    border: 1px solid rgb(251, 249, 249);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    background-color: rgb(247, 227, 242);
    border-radius: 15px;
}


.dados{
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
 
}

